*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* font-family: 'Abel', sans-serif; */
    font-family: 'Varela', sans-serif;
}

html{
    box-sizing: inherit;
    font-size: 62.5%;
}

body{
    font-size: 1.8rem;
    padding: 2rem;
    background: #E4F9F5;
}

.dierCard{
    width: 40rem;
    height: 40rem;
    margin: 0 auto;
    background: #caf5ec;
    box-shadow: 0 0.4rem 0.8rem black;
    position: relative;
}

.dierCard__mijndier{
    width: 40rem;
    height: 50rem;
    margin: 0 auto;
    box-shadow: 0 0.4rem 0.8rem black;
    position: relative;
}

.dierCard::after{
    content:"";
    width: 3rem;
    height:3rem;
    position:absolute;
    bottom: 0;
    right: 0;
    background: #30E3CA;
    clip-path:polygon(100% 0%, 100% 100%, 0% 100%);
}
/* .dierCard::before{
    content:"";
    width: 2rem;
    height:2rem;
    position:absolute;
    bottom: 0;
    left: 0;
    background: #30E3CA;
    clip-path:polygon(100% 0%, 100% 100%, 0% 100%);
} */

.dierCard__figure{
    width: 100%;
    height: 60%;
}

.dierCard__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dierCard__text{
    color: #1d2020;
    /* height: 20%; */
    /* display: flex; */
    padding: 1.5rem 1rem 0 1rem;
    margin: 0 1rem;
    align-items: center;
}

.dierCard__title{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.dierCard__buttonsection{
    height: 20%;
    display: flex;
    padding: 1rem 1rem 0 1rem;
    margin-left: 1rem;
    align-items: center;
}

.dierCard__button{
    padding: 1.5rem 3rem;
    background: #30E3CA;
    box-sizing: border-box;
    border:none;
    color:40514E;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(64, 81, 78, 0.3);
    font-size: 1.7rem;
    font-weight: bold;
}

.dierCard__button:hover{
    cursor:pointer;
    background: #11999E;
    box-shadow: 0 0.4rem 0.7rem rgba(64, 81, 78, 0.3);
}

.showCard{
    width: 40vw;
    height: 70vh;
    margin: 6rem auto;
    background: #caf5ec;
    box-shadow: 0 0.4rem 0.8rem black;
    position: relative;
}

.showCard__section__wrapper{
    display: flex;
    justify-content: center;

}

.showCard__section{
    margin: 0 6rem;
}

.showCard__section__mijndier{
    margin: 0;
}

.showCard__figure{
    width: 100%;
    height: 60%;
}

.showCard__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.showCard__text{
    color: #1d2020;
    /* height: 20%; */
    /* display: flex; */
    padding: 1.5rem 1rem 0 1rem;
    margin: 0 1rem;
    align-items: center;
}

.showCard__title{
    font-weight: bold;
    text-align: center;
    font-size: 3rem;
    padding: 2rem;
}

.showCard__buttonsection{
    height: 20%;
    display: flex;
    padding: 0 1rem 0 1rem;
    margin: 3rem;
    justify-content: center;
}

.showCard__button{
    padding: 1.5rem 3rem;
    background: #30E3CA;
    box-sizing: border-box;
    border:none;
    color:40514E;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(64, 81, 78, 0.3);
    font-size: 1.7rem;
    font-weight: bold;
}

.showCard__button:hover{
    cursor:pointer;
    background: #11999E;
    box-shadow: 0 0.4rem 0.7rem rgba(64, 81, 78, 0.3);
}

.reviewCard{
    width: 40rem;
    height: 20rem;
    background: #caf5ec;
    margin: 0 auto;
    box-shadow: 0 0.4rem 0.8rem black;
    position: relative;
}

.reviewCard::after{
    content:"";
    width: 3rem;
    height:3rem;
    position:absolute;
    bottom: 0;
    right: 0;
    background: #30E3CA;
    clip-path:polygon(100% 0%, 100% 100%, 0% 100%);
}

.reviewCard__text{
    color: #1d2020;
    /* height: 20%; */
    /* display: flex; */
    padding: 1.5rem 1rem 0 1rem;
    margin: 0 1rem;
    align-items: center;
}

.reviewCard__title{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.create-form{
    width:40%;
    margin: 0 auto;
    margin-top: 4rem;
    box-shadow: 0 0.4rem 0.7rem rgba(64, 81, 78, 0.3);
    min-height: 60vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    background: #dafff8;
}

.create-form__review{
    width:40%;
    margin: 0 auto;
    margin-top: 4rem;
    box-shadow: 0 0.4rem 0.7rem rgba(64, 81, 78, 0.3);
    min-height: 50vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    background: #dafff8;
}

.create-form__form{
    width: 100%;
    margin: 0 1rem;
}

.create-form__split{
    display: flex;

}

.create-form__header{
    text-align: center;
}

.create-form__section{
    margin-top: 3rem;
    font-size: 140%;
    width: 100%;
}

.create-form__input{
    display: block;
    width: 100%;
    margin-top:0.8rem;
    font-size: 70%;
}

.create-form__input-split{
    display: block;
    width: 100%;
    margin-top:0.8rem;
    font-size: 70%;
}

.left{
    margin-right: 4rem;
}

.create-form__input--big{

}

.create-form__button{
    padding: 1.5rem 3rem;
    background: #30E3CA;
    box-sizing: border-box;
    border:none;
    color:40514;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(64, 81, 78, 0.3);
    font-size: 1.7rem;
    font-weight: bold;
}

.filter-section{
    display: flex;
    justify-content: center;
    width:100%;
    font-size: 140%;
    text-align: center; 
    padding-bottom: 2rem;

}

.filter-section__stripe{
    width: 40%;
    border-bottom: 2px solid black;
}

.filter-section__wrapper{
    display: inline-block;
    padding: 1rem;
    margin: 0 2rem 0 1rem;
    
}

.home{
    display: flex;
    height: 8rem;
    margin-left:4rem;
    margin-right: 4rem;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}

.home__button{
    font-size: 4rem;
    padding: 1rem;
    border: none;
    background: #E4F9F5;
}

.home__form{
    position: absolute;
    top: 3rem;
    right: 3rem;

}

.home__logout{
    border: none;
    background: #caf5ec;
    font-size: 2rem;
    padding: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(64, 81, 78, 0.3);
}

.nav{
    height: 15rem;
}

.nav__ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__li{
    
    margin: 10rem;
}

.nav__button{
    width: 25rem;
    border: none;
    border-bottom: 2px solid black;
    background: #caf5ec;
    font-size: 2rem;
    padding: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(64, 81, 78, 0.3);

}

.regel{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.regel__li{
    display:flex;
    padding: 2rem;
    border: 2px solid rgba(64, 81, 78, 0.3);
    border-radius: 2rem;
    margin: 1rem;
    background: #caf5ec;
    align-items: center;
}

.regel__item{
    width: 20rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.regel__item__button{
    width: 18rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    background: #30E3CA;
    box-sizing: border-box;
    border:none;
    color:40514;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(64, 81, 78, 0.3);
    font-size: 1.7rem;
}



a{
    text-decoration: none;
    color: black;
}

button{
    font-family: 'Varela', sans-serif;
}

button:hover{
    cursor:pointer;
}

.title-wrapper{
    display: flex;
    justify-content: center;

}

h2{
    text-align: center;
    margin: 3rem;
    width: 60%;
    
}

@media (max-width:62.5rem){
    .create-form{
        width:80%
    }
}

/* utility classes */
.u-list-style-none{
    list-style: none;
}

.u-grid-3{
    width:100%;
    padding-left: 5rem;
    padding-right: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 2rem;
}

.u-grid-gap-4{
    gap: 6rem;
}